.file {
  padding-top: 50px;
  padding-bottom: 50px;
  height: calc(100vh - 166px);
  display: flex;
  justify-content: center;
  align-items: center;

  .tip {
    font-size: 42px;
    color: $secondary;
  }
}